:root{
    --blue: #3189E7;
    --black: #535353;
    --full-black: #000000;
    --gray: #E0E0E0;
    --purple: #7349EF;
}
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat" ,sans-serif;
    font-size: 18px;
}
/*Debut de la banniere */
#banner{
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;

}
#banner img{
    position: absolute;
    left: 40%;
    height: 75%;
    width: auto;
    top: 10%;
    
}
#banner video{
width: 100%;

}


/* Fin de la banniere */
/*debut du main-menu*/
#main-menu{
    
    position: relative;
    width: 100%;
    height: 50px;
    background-color:rgb(5, 5, 44);
    z-index: 50;
}
#main-content section{
    width: 75%;
    background-color:rgb(241, 239, 239);
    
}
#main-menu > ul{
    display: flex;
    width: 50%;
    position: relative;
    margin: auto;
}
#main-menu ul li a{
    padding: 10px;
    display: block;
    text-align: center;
    color: var(--gray);
    transition: 400ms;
}
.dropdown-menu{
display: none;
}
.dropdown:hover .dropdown-menu{
    display: block;
    background-color: var(--full-black);
    opacity: 1;
    
}
#main-menu ul li a:hover{
    color: var(--blue);
    background-color: var(--gray);
}
#main-content{
    display: flex;
}
.services  h4{
    color: #f9f3f3;
    padding: 2%;
    border-bottom: #3189E7;
}
/*Corps du main-menu*/
.CORPS .image1 img{
    left: 0%;
    
    width: 60%;
    top: 0;
}
.CORPS .image2 img{
    left: 0%;
    height: 50%;
    width: 50%;
    top: 0;
}
.CORPS .image3 img{
    left: 0%;
    height: 50%;
    width: 60%;
    top: 0;
}
.CORPS .image h1{
    display: flex;
}
/*Fin du corps du main-menu*/
#main-menu input{
    border-radius:5px;
    outline: 0;
    margin: 5px;
    padding: 5px;
    border: none;
    background-color: #f2f2f2;
    color: #3189E7;
}
/*fin du main-menu*/
/*debut du right-menu*/
#right-menu{
    position: relative;
    border: solid  ;
    background-color:rgb(174, 161, 247) ;
    margin: 1px;
    padding: 1px;
    display: flex;
    transition: 400ms;
    width: 40%;
    height: 50px;
}
.ok{
    padding: 20px;
}
.ok:hover .OK{

    display: block;
    background-color: var(--full-black);
    opacity: 1;
    color: white;
}
.OK {
    display: none;

}
.ok a{
    color:white;
    position: sticky;

}
.OK a{
    color: #E0E0E0;
    background-color: #050505;
}
#rigth-menu ul li a:hover{
    color: black;
    background-color: black;
}

#right-menu a{
    padding: 10px 0;
    display: block;
    
}
/*fin du right-menu*/
/*Debut du footer*/
footer{
display: block;
    border-top: solid #6f6f6f;
    background-color:rgb(5, 5, 44);
    color: #fff;
    left: 70px;
}
footer .services{
    display: flex;
align-items: center;
    justify-content: center;
    flex-direction: column;
padding: 0%;
margin: 15px;
right: 90px;



}
.services .Acces-rapide a{
  margin: 10px;
    color: gray;
    padding: 10px;
    cursor: pointer;
align-items: center;
    

}
.services .Acces-rapide{
    display: none;
    flex-wrap: wrap;
display: block;
justify-content: center;
display: flex;
}
footer .services .Acces-rapide h3{
    font-family:'Playfair Display', sans-serif ;


}
footer .icone i{
    padding:5px;
    cursor: pointer;
    color: #f2f2f2;
    justify-content: flex-end;
}
footer .icone{

    position: relative;
    width: 15%;
    left: 85%;
    margin: 0%;
}
/*fin du footer*/



/*Formulaire de contact*/
#right-menu  form{
    position: relative;
    right: 80%;
margin: 40%;

}
form h1{
    font-size: 20px;
}
form .separation{
    width: 100%;
    height: 1px;
    background-color: #747cdf;
}
form .corps-formulaire{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
form .corps-formulaire .groupe{
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
form .corps-formulaire .gauche .groupe input{
    
    margin-top: 5px;
    padding: 10px 5px 10px 30px ;
    border: 1px solid #c9c9c9;
    outline-color: #747cdf;
    border-radius:5px ;
}
form .corps-formulaire .gauche .groupe i{
    position: absolute;
    left: 0;
    top: 25px;
    color: #747cdf;
    padding: 9px 8px;
}
form .corps-formulaire .droite{
    margin-left: 40px;

}
form .corps-formulaire .droite .groupe{
    height: 100%;
}
form .corps-formulaire .droite textarea{
    margin-top: 5px;
    padding: 10px;
    background-color: #f8f8f8;
    border: 2px solid #747cdf;
    outline: none;
    border-radius: 5px;
    resize: none;
    height: 72%;
}
form .pieds-formulaire button{
    margin-top: 10px;
    background-color: #747cdf;
    color: #fff;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
}
form .pieds-formulaire button:hover{
transform: scale(1.05);
}

@media screen and (max-width:920px) {
    form .corps-formulaire .droite{
        margin-left: 0;
    
    }
    
}

/*Fin du formulaire de contact*/